workflow.json
{
  "name": "Whatsapp Driven Google Drive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1840,
        240
      ],
      "id": "7321fa97-80cf-41fa-b204-d62f68a768b2",
      "webhookId": "37d977d1-90de-41cb-8930-0d679a664d2e"
    },
    {
      "parameters": {
        "functionCode": "const input = $json.body.Body.trim();\n\n// Split input into command and full path (possibly including \"to\" clause)\nconst firstSpaceIndex = input.indexOf(' ');\n\nlet command, folderPath, folder, destination, destinationPath;\n\nif (firstSpaceIndex === -1) {\n  command = input.toUpperCase();\n  folderPath = null;\n  folder = null;\n} else {\n  command = input.substring(0, firstSpaceIndex).toUpperCase();\n  let pathPart = input.substring(firstSpaceIndex + 1).trim();\n\n  if (command === 'MOVE' && pathPart.includes(' to ')) {\n    const [source, dest] = pathPart.split(' to ');\n\n    folderPath = source.trim();\n    destinationPath = dest.trim();\n\n    // Clean slashes from destinationPath\n    destinationPath = destinationPath.replace(/^[/\\\\]+/, '').replace(/[/\\\\]+$/, '');\n\n    // Extract last segment of destination path\n    const destParts = destinationPath.split('/').filter(part => part.trim() !== '');\n    destination = destParts.length > 0 ? destParts[destParts.length - 1] : '';\n  } else {\n    folderPath = pathPart;\n  }\n\n  // Clean slashes from folderPath\n  folderPath = folderPath.replace(/^[/\\\\]+/, '').replace(/[/\\\\]+$/, '');\n\n  // Extract last segment of folderPath as folder\n  const parts = folderPath.split('/').filter(part => part.trim() !== '');\n  folder = parts.length > 0 ? parts[parts.length - 1] : '';\n}\n\nreturn [{\n  json: {\n    command,\n    folder,\n    folderPath,\n    destination,\n    destinationPath,\n    raw: input\n  }\n}];\n"
      },
      "name": "Parse Command",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1584,
        240
      ],
      "id": "b5c48364-58a6-4598-9ae0-db1d1972962b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"command\"]}}",
                    "rightValue": "LIST",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8941049d-1d3a-47c1-bdb2-f17a8870b90d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LIST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "372e9d74-b103-41ed-b1ae-2d7b58cc501e",
                    "leftValue": "={{$json[\"command\"]}}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DELETE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "92b177d3-51d9-4c12-854b-0b22a1192682",
                    "leftValue": "={{$json[\"command\"]}}",
                    "rightValue": "MOVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MOVE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ed33408-7a48-4aaa-9588-2b699a2503c4",
                    "leftValue": "={{$json[\"command\"]}}",
                    "rightValue": "SUMMARY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUMMARY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1376,
        208
      ],
      "id": "37efe180-30b4-4099-8322-526053fba40f",
      "name": "Switch"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "={{$json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -96,
        -288
      ],
      "id": "af11ef9f-ca8f-4658-9a70-d8a092087b94",
      "name": "Send an SMS/MMS/WhatsApp message",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q=name='{{$json[\"Folder/files\"]}}'&fields=files(id,name)\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        16
      ],
      "id": "9b0d18f4-7115-43be-9c61-6ec42702e097",
      "name": "HTTP Request1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.files[0].id }}\n\n",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -192,
        32
      ],
      "id": "6f1e45e3-74cb-44ca-a3d3-14e1b9a6de82",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "={{ $json.success === true ? '✅ File deleted successfully!' : '❌ File deletion failed or not authorized.' }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        64,
        32
      ],
      "id": "bb6cf309-295b-474f-b757-b8cfff5fd17d",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{$json[\"files\"][0][\"id\"]}}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -608,
        -288
      ],
      "id": "d019ae9b-dd8f-490b-97f0-7a251f0e3d26",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q=name='{{$json[\"Folder/files\"]}}'&fields=files(id,name)\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        -288
      ],
      "id": "4c64ad55-6ea1-456f-a419-2511a5af28b8",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The input is an array of items, each with JSON containing file info\n// We'll create a single output item with one field 'message' that contains all names numbered\n\nconst items = $items();  // get all incoming items\n\n// Map each item to a numbered name string\nconst lines = items.map((item, index) => `${index + 1}. ${item.json.name}`);\n\n// Join with newline characters\nconst message = lines.join('\\n');\n\n// Return one item with the combined message string\nreturn [{ json: { message } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -288
      ],
      "id": "75452406-b074-4d32-8ed8-b651073b380e",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{$json.files[1].id}}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{$json.files[0].id}}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        480
      ],
      "id": "9918b757-f6f0-4d32-9c84-cafad4f4d306",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q=name='{{$json[\"data\"][0][\"Folder/files\"]}}\n'&fields=files(id,name)\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        384
      ],
      "id": "f64e17fc-badf-48f7-8988-70ba7388983c",
      "name": "HTTP Request2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q=name='{{$json[\"data\"][0][\"Destination folder name\"]}}\n'&fields=files(id,name)\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        656
      ],
      "id": "83db89f2-bc03-46d6-b418-863cc0f10600",
      "name": "HTTP Request3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "={{ $json.Folder/files }},{{ $json[\"Destination folder name\"] }}",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {
          "mergeLists": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -832,
        480
      ],
      "id": "40f42ac8-23ec-43bd-afb7-21e04dea3ddd",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        480
      ],
      "id": "417d1197-35bc-4153-8c05-d24249eb5e98",
      "name": "Merge",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "FIle Moved Successfully\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        976,
        480
      ],
      "id": "cd5c11b9-89d7-463f-afaf-5573de9d975f",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        1040
      ],
      "id": "003e7e8c-01e7-49d7-a5d4-650392d79687",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        112,
        1040
      ],
      "id": "17f59a04-d53b-435b-9037-785f54fbdb91",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        1280
      ],
      "id": "45145a40-efa9-4887-aecb-e85d27777f3c",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        1216
      ],
      "id": "06fe64cd-76de-4d2e-99fd-500bbb7910e2",
      "name": "Merge1",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json[\"id\"] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -128,
        1584
      ],
      "id": "e8322227-2a02-4f3f-b7cb-e76b1c87b751",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "pH46FbUuK4gsapaY",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q=name='{{$json[\"Folder/files\"]}}' and mimeType='application/vnd.google-apps.folder'&fields=files(id,name,mimeType)\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        1136
      ],
      "id": "07ba1e0e-cfc1-4c9d-afa3-70f7e3ff5512",
      "name": "HTTP Request6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{$json[\"files\"][0][\"id\"]}}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        1136
      ],
      "id": "19f84382-fd97-4341-9b16-9f667357fd51",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"mimeType\"]}}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf5d3bc8-398f-4c11-b2fa-e87d5caa3121"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a1adc18-348c-4fda-82e5-ac6acd4a55bd",
                    "leftValue": "={{$json[\"mimeType\"]}}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5af10dae-f8fb-4ea0-8526-263dd0b1ab70",
                    "leftValue": "={{$json[\"mimeType\"]}}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "word-docs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5704219-e5ec-4e41-9199-e7999fbe78e2",
                    "leftValue": "={{$json[\"mimeType\"]}}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -416,
        1104
      ],
      "id": "3d184a9e-6af4-4f22-b581-3ddeb14b91b5",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json[\"id\"] }}/copy\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mimeType\": \"application/vnd.google-apps.document\",\n  \"name\": \"Converted - {{ $json.name }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        1280
      ],
      "id": "a2ec90b1-f83f-4a94-babf-f7abb9aa1159",
      "name": "HTTP Request7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json[\"id\"] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        272,
        1280
      ],
      "id": "615ab5b1-02b5-4c1e-ab6a-9e6166b30c6b",
      "name": "Get a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "pH46FbUuK4gsapaY",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "={{ $json.data }},{{ $json.content }}",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        912,
        1248
      ],
      "id": "6850301e-8420-4ee4-b3f6-1d66c2c2137e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize each json file element and write new line for each file in 2-3 line. Make sure whole content you provide is under 500 words\njson : {{ JSON.stringify($json.data, null, 2) }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        1248
      ],
      "id": "cf7ac1f2-f9c5-4bfa-a464-bf737e95105a",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "miMB8auOBLDqQjRr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        800
      ],
      "id": "c577e143-3e60-45da-b8ca-8835d6d39c2e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBZYfSL8GcvlWMo0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        112,
        800
      ],
      "id": "893dac94-1c58-49ba-b829-839eb899f335",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "=Write a folder name to summmarise the list of files.\nDont write file name\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -832,
        1472
      ],
      "id": "d0582dc9-b0da-437e-b1f5-f6897c7e4e55",
      "name": "Send an SMS/MMS/WhatsApp message5",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "=Write a folder name to  list of files.\nDont write file name\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1008,
        -576
      ],
      "id": "523c8ae9-d655-4dc2-b060-edca4d9f087a",
      "name": "Send an SMS/MMS/WhatsApp message7",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lc6a4vIzzuMctPlAkNGMJ1T04rO2v2i3DPi_tiq6DQw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lc6a4vIzzuMctPlAkNGMJ1T04rO2v2i3DPi_tiq6DQw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Raw Input": "={{ $json.raw }}",
            "Folder/files": "={{ $json.folder }}",
            "Command": "={{ $json.command }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Raw Input",
              "displayName": "Raw Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Command",
              "displayName": "Command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder/files",
              "displayName": "Folder/files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1184,
        -288
      ],
      "id": "be63d656-2abd-4691-a385-73b558db4e5d",
      "name": "Append row in sheet for list command",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DECtiZwYrTnrKO9W",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lc6a4vIzzuMctPlAkNGMJ1T04rO2v2i3DPi_tiq6DQw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lc6a4vIzzuMctPlAkNGMJ1T04rO2v2i3DPi_tiq6DQw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Raw Input": "={{ $json.raw }}",
            "Folder/files": "={{ $json.folder }}",
            "Command": "={{ $json.command }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Raw Input",
              "displayName": "Raw Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Command",
              "displayName": "Command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder/files",
              "displayName": "Folder/files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1056,
        16
      ],
      "id": "321f570f-38dd-49e3-8dba-4d7f75ae2692",
      "name": "Append row for delete command",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DECtiZwYrTnrKO9W",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lc6a4vIzzuMctPlAkNGMJ1T04rO2v2i3DPi_tiq6DQw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lc6a4vIzzuMctPlAkNGMJ1T04rO2v2i3DPi_tiq6DQw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Raw Input": "={{ $json.raw }}",
            "Folder/files": "={{ $json.folder }}",
            "Command": "={{ $json.command }}",
            "Destination folder name": "={{ $json.destination }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Raw Input",
              "displayName": "Raw Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Command",
              "displayName": "Command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder/files",
              "displayName": "Folder/files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Destination folder name",
              "displayName": "Destination folder name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1040,
        480
      ],
      "id": "1efb6172-eda8-4ac3-b59b-9aebcf624960",
      "name": "Append row for Move",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DECtiZwYrTnrKO9W",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lc6a4vIzzuMctPlAkNGMJ1T04rO2v2i3DPi_tiq6DQw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lc6a4vIzzuMctPlAkNGMJ1T04rO2v2i3DPi_tiq6DQw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Raw Input": "={{ $json.raw }}",
            "Folder/files": "={{ $json.folder }}",
            "Command": "={{ $json.command }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Raw Input",
              "displayName": "Raw Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Command",
              "displayName": "Command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder/files",
              "displayName": "Folder/files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1200,
        1136
      ],
      "id": "74dbfdb2-372a-4c27-9f30-cf2d5cd68d4d",
      "name": "Append row for summary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DECtiZwYrTnrKO9W",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a147dae2-dc6a-4770-abed-a3c9e31f0d12",
              "leftValue": "={{ $json.files.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        -288
      ],
      "id": "478f99d5-3a85-4e89-b274-c417ff54b33b",
      "name": "Checks Proper naming of File/folder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a147dae2-dc6a-4770-abed-a3c9e31f0d12",
              "leftValue": "={{ $json.files.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        1152
      ],
      "id": "855bc053-bab8-4f22-bb58-d8f73883d413",
      "name": "Checks Proper naming of File/folder2"
    },
    {
      "parameters": {
        "content": "NOTE :Here Each Http Request node is used for getting file id for next executions",
        "height": 80,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1840,
        -160
      ],
      "typeVersion": 1,
      "id": "2c235786-40ed-4c75-844b-5cd35059a113",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a147dae2-dc6a-4770-abed-a3c9e31f0d12",
              "leftValue": "={{ $json.files.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        16
      ],
      "id": "7d965d72-22b0-4519-a7d9-de988babf749",
      "name": "Checks Proper naming of File/folder1"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "=Write a folder/file name correctly . Please ensure writing extension of file.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -288,
        192
      ],
      "id": "136a5f6f-db2c-407b-9d13-a7ce8a7cf345",
      "name": "Send an SMS/MMS/WhatsApp message8",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "=Summary: {{ $json[\"content\"].parts[0].text}}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1536,
        1248
      ],
      "id": "0168f0d7-0cd3-4e48-bdd3-8b827bf5f18c",
      "name": "Send an SMS/MMS/WhatsApp message4",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a147dae2-dc6a-4770-abed-a3c9e31f0d12",
              "leftValue": "={{ $json.files.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        368
      ],
      "id": "81cb908a-5039-4b5f-9e43-978c6d702180",
      "name": "Checks Proper naming of File/folder3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a147dae2-dc6a-4770-abed-a3c9e31f0d12",
              "leftValue": "={{ $json.files.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        656
      ],
      "id": "415567e2-e468-4ebb-bcbd-5f55f5313098",
      "name": "Checks Proper naming of File/folder4"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "=Write a folder/file name correctly . Please ensure writing extension of file.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        240,
        672
      ],
      "id": "1eab35f9-7a19-47f7-9684-aab423d95691",
      "name": "Send an SMS/MMS/WhatsApp message9",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917096227783",
        "toWhatsapp": true,
        "message": "=Write a folder/file name correctly . Please ensure writing extension of file.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        224,
        240
      ],
      "id": "631ddd06-17ab-4ad6-97e6-0494f30900da",
      "name": "Send an SMS/MMS/WhatsApp message10",
      "retryOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "yO5rdHVlcu4EOLyQ",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet for list command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row for delete command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row for Move",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row for summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Checks Proper naming of File/folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Checks Proper naming of File/folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Checks Proper naming of File/folder4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Checks Proper naming of File/folder3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Checks Proper naming of File/folder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Get a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet for list command": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row for delete command": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row for Move": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row for summary": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks Proper naming of File/folder": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks Proper naming of File/folder2": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks Proper naming of File/folder1": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks Proper naming of File/folder3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks Proper naming of File/folder4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0acfa7a6-3609-406f-8685-6cecf7aa47f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fec3e37c9b90626397262a246cdff9a6c331b4f98a1a91fd93e85acb2ca265e6"
  },
  "id": "eKBV9pr7UI8SKuCJ",
  "tags": []
}